/* cant seem to get the changes to apply in html
.mainheader {
    font-size: 10PX;
    font-family: monospace;
    color: blue;
}
 this was the wrong use of code */
 
 /* the problem was that i did not have the <link rel="stylesheet" href="style.css"> tag in html */

 h1 {
     font-size: 30;
     font-family: monospace;
     color: black;
 }
 
 div {
     border: 10px solid black;
     width: 200px;
     padding: 70px;
     margin: 30px;
     text-align: center;
     background-color: gray;
 }

 