/* cant seem to get the changes to apply in html
.mainheader {
    font-size: 10PX;
    font-family: monospace;
    color: blue;
}
 this was the wrong use of code */
 
 /* the problem was that i did not have the <link rel="stylesheet" href="style.css"> tag in html */

 h1 {
     font-size: 30;
     font-family: monospace;
     color: black;
 }
 
 div {
     border: 10px solid rgb(38, 97, 175);
     border-radius: 30px;
     width: 200px;
     padding: 70px;
     margin: 30px;
     text-align: center;
     background-color: rgb(23, 213, 226);
     box-shadow: 10px 15px;
 }
button {
    background-color: #17eb57; 
    border-radius: 30px;
    padding: 10px 32px;
    font-size: 15px;
    text-align: center;
   margin: 10px;
    margin-left: 40px;
}
/* added styling to my button and positioned it better as well as a box shadow */